body {
    font-family: Arial;
    background-color: #f4f6f8;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Grade colors */
.A { background: #d4edda; color: green; }
.B { background: #d1ecf1; color: blue; }
.C { background: #fff3cd; color: orange; }
.Fail { background: #f8d7da; color: red; }

.stats {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
}