<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prerena Convent</title>
    <!--Link CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Mid Sem Result</h1>
    <ul>
        <li>The marks of John is {{marks['John']}}</li>
        <li>The marks of Vishnu is {{marks['Vishnu']}}</li>
        <li>The marks of Rahul is {{marks['Rahul']}}</li>
        <li>The marks of Mayur is {{marks['Mayur']}}</li>
        <li>The marks of Roshan is {{marks['Roshan']}}</li>
        <li>The marks of Neha is {{marks['Neha']}}</li>
        <li>The marks of Deep is {{marks['Deep']}}</li>
    </ul>
    <h2>Following Students meet to Principal Cabin</h2>
    <ul>
        <li>Rina</li>
        <li>Raj</li>
        <li>Rishi</li>
        <li>Jesmine</li>
        <li>Ritesh</li>
    </ul>
</body>
</html>