<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📊 Student Dashboard</h1>

    <a href="/add"><button>Add Student</button></a>

    <ul>
        {% for name, mark in students %}
            <li class="{{ get_grade(mark) }}">
                {{ name }} - {{ mark }} ({{ get_grade(mark) }})
            </li>
        {% endfor %}
    </ul>

    <div class="stats">
        <h3>Total: {{ total }}</h3>
        <h3>Average: {{ average }}</h3>
    </div>

</div>

</body>
</html>